#index {

    .main {
        grid-area: main;
        height: 70vh;
        background-color: white;

        .imagenIndex {
            margin-left: 300px;
            margin-top: 0px;

        }

        & button {
            margin: 5px 425px 5px 425px;
            text-decoration: none;
            color: maroon;

            & :hover {
                transform: scale(1.25);
                transition: 0.8s;
            }

        }
    }
}