#index {

    .main {
        grid-area: main;
        height: 70vh;
        background-color: white;

        .imagenIndex {
            padding: 20px 300px 20px 300px;

        }

        & button {
            margin: 5px 425px 5px 425px;
            text-decoration: none;
            color: maroon;

            & :hover {
                margin: 5px 425px 5px 425px;
                text-decoration: none;
                color: maroon;
            }

        }
    }
}