.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: maroon;

    & ul {
        margin-top: 40px;
        width: 100%;
    }

    & li {

    @include navLi (brown)

    }
    
    & a {
        color: white;
        text-decoration: none;
    }

}